<p>Hello</p>
<p>You have successfully registered on our website.</p>
<p>Please click the link below to confirm your email address.</p>
<p>{{{link}}}</p>
<p><a href="{{ link }}" target="_blank">Confirm Email</a></p>